/* 


    _/                                  _/            
   _/          _/_/_/  _/_/_/      _/_/_/  _/    _/   
  _/        _/    _/  _/    _/  _/    _/  _/    _/    
 _/        _/    _/  _/    _/  _/    _/  _/    _/     
_/_/_/_/    _/_/_/  _/    _/    _/_/_/    _/_/_/      
                                             _/       
                                        _/_/          
                                                 
											   V 1.0                                  
                                  													 
                                  													 */
@import "iconfont.css";
@import "animate.min.css";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/earlyaccess/notoserifjapanese.css);

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body{
	text-align: center;
	font-family: 'Noto Sans Japanese', sans-serif;
}



h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #3a3a3a;
}


p{
	font-size: 1.2em;
}

.lead{
	font-weight: 300;
	color: #3e3e3e
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.visibility{
	visibility: hidden;
}

.animated{
	visibility: visible!important;
}

.biblio{
	font-weight: 100 !important;
	font-size: 10px !important;
	font-family: 'Noto Sans Japanese', sans-serif;
	color: #ccc;
}


/*-----------------------------------------------------------------------------------*/
/*	KEY COLOR
/*-----------------------------------------------------------------------------------*/

/*---- Typography
header h1, 
.payoff h1,
.details .carousel,
.social a:hover{
	color: #0bf397;
}
----*/
.features p{
	color: #06b872;
}

/*---- Background ----*/
.features,
.detail .carousel-indicators .active {
	background: #31B0B8;	
}
	

/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

nav.navbar{
	position: fixed;
	top: -100%;
	margin-bottom: 0px;
	padding: 10px 0px 10px 0px;
	width: 100%;
	border-radius: 0px;
	transition: all 0.2s;
}

.navbar-nav{
	float: right;
}

nav.navbar.fixed-to-top{
	top: 0px;
}

.navbar-default{
	border: none;
	border-bottom: 1px solid #eee;
	background: #fff;
	opacity: 0.95;
	display: none;
}

.navbar-default .navbar-nav>li>a {
	color: #aaa;
	font-size: 1.2em;
	font-weight: 300;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #3A3A3A;	
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.navbar-default .navbar-brand{
	color: #333333;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 1.1em;
	font-family: 'Noto Serif Japanese', serif;
}

.navbar-brand div{
	color: #2BA2A9;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 1.3em;
	font-family: 'Noto Sans Japanese', sans-serif;
}

/*-----------------------------------------------------------------------------------*/
/* HEADER 
/*-----------------------------------------------------------------------------------*/

header{
	padding: 15vh 0px 0px 0px;
	height: 90vh;
	background: url('../img/splash/book.png');
	background-color: white!important;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

header img.top-logo {
	 height:180px; 
	 border-bottom: 3em;
}

header *{
	text-shadow:0px 0px 9px #737373;
}

header h2{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 25px;
	color: black !important;
	font-family: 'Noto Serif Japanese', serif;
}

header p.top-en{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 15px;
	color: black !important;
	font-family: 'Noto Serif Japanese', serif;
}

header h1{
	border-top: 2em;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 50px;
	color: black !important;
	font-family: 'Noto Sans Japanese', sans-serif;
}

header p.top-en-h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 20px;
	color: black !important;
	font-family: 'Noto Sans Japanese', sans-serif;
}

/*header p.lead{
	font-size: 36px;
}*/


header .carousel-iphone{
	margin-right: auto;
	margin-left: auto;
	width: 320px;
	height: 672px;
	background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;
	
}

header .carousel {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 95px 0px 0px 4px;
	width: 282px;
}

header .carousel-indicators .active {
	width: 15px;
	height: 15px;
	background: #444444;
}

header .carousel-indicators {
	bottom: -63px;
}

header .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 15px;
	height: 15px;
	border: 1px solid #666666;
	border-radius: 10px;
	text-indent: -999px;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/* HEDERNAV
/*-----------------------------------------------------------------------------------*/

nav.hnavbar{	
	margin:0px;
	width: 97vw;
	height: 10vh;
	border-radius: 0px;
	transition: all 0.2s;
}

.hnavbar li{
	padding-right: 3vw;
	/*width:7vw;*/
	text-align: center;
	list-style: none;
	line-height: 10vh;
	float: left;
}

nav li.button a{
	text-align: center;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
	color: #aaa;
}

nav li.button a:hover{
	color:#333;
}

nav .hnav-info{
	line-height: 10vh;
	color: #fff !important;
}

nav .col-md-3{
	background-color: #31B0B8;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 23px;
	font-family: 'Noto Sans Japanese', sans-serif;
}

/*-----------------------------------------------------------------------------------*/
/* PURCHASE
/*-----------------------------------------------------------------------------------*/

.purchase{
	overflow: hidden;
	padding: 100px 0px 100px 0px;
	min-height: 200px;
}

.purchase button.app-store{
	width: 152px;
	height: 52px;
	background: url(../img/badge-appstore.png) #3a3a3a no-repeat 0px 5px;
	color: white;
}

/*-----------------------------------------------------------------------------------*/
/*	PAYOFF
/*-----------------------------------------------------------------------------------*/

.payoff{
	overflow: hidden;
	/*padding: 230px 0px 150px 0px;*/
	/*min-height: 600px;*/
	min-height: 90vh;
	/*background: url('../img/dunes.jpg');
	background-position: center top;*/
	/*background-repeat: repeat-x;*/
	background: linear-gradient(-135deg, #31B0B8, #dda0dd);
	color: white;
}

.payoff .sec-title{
	color: #fff;
	padding: 1em 2em 0 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 60px;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-shadow:0px 0px 9px #C3C3C3;
}

.payoff h2{
	color: #fff;
	padding: 1em 2em 0 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 25px;
	font-family: 'Noto Sans Japanese', sans-serif;

}

.payoff p{
	font-weight: 100;
	font-size: 16px;
	font-family: 'Noto Serif Japanese', serif;
}

.payoff li{
	list-style: none;
}

.klisabout{
	margin: 2em;
	float: left;
	line-height: 12vh;
	list-style: none;
	text-align: center;
	border: 2px solid #fff;
	width: 14vw;
	height: 12vh;
	font-weight: 100;
	font-size: 20px;
	color: #fff;
	font-family: 'Noto Sans Japanese', sans-serif;
	box-shadow:0px 0px 9px #717171;
}


.klisabout:visited {
  color: #fff;
}

.klisabout:hover {
  background: #fff;
  color: #333;
}

.klisabout-first {
	margin-left: 13%;
}

.klisabout-first:visited {
  color: #fff;
}

.klisabout-first:hover {
  background: #fff;
  color: #333;
}
/*-----------------------------------------------------------------------------------*/
/*	DETAIL
/*-----------------------------------------------------------------------------------*/

.detail{
	/*overflow: hidden;*/
	padding: 20px 0px 0px 0px;
	min-height: 500px;
}


.detail .sec-title{
	color: #777;
	padding: 1em 2em 0 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 60px;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-shadow:0px 0px 9px #C3C3C3;
}

.detail .title{
	margin-bottom: 80px;
	text-align: center;
	font-weight: 100;
}

.detail .features .row{
	margin-bottom: 40px;

}

.detail .carousel h1{
	font-size: 3.8em;
}
.detail .carousel h1, .detail p{
	text-align: left;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 200;
	font-size: 40px;
	/*font-weight: 300;*/
}

.detail p{
	color: #aaa;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 200;
	font-size: 17px;
}

.detail .carousel-control{
	background: none;
}

.detail .app-screenshot{
	overflow: hidden;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1em;
	/*width: 320px;*/
	width: 70vw;
	height: 450px;
	/*background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;*/
}

.detail .app-screenshot img{
	margin-right: auto;
	margin-left: auto;
	padding-left: 4px;
	width: 280px;
}

.detail .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	border-top: 1px solid #eee;
	background: #ffffff;
}

.detail .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.detail .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #eeeeee;
	text-indent: -999px;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	FEATURES
/*-----------------------------------------------------------------------------------*/

.features{
	overflow: hidden;
	padding: 150px 0px 150px 0px;
	min-height: 400px;
	color: black;
}

.features p {
	font-weight: 200;
	color: #fff;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.features .timesc {
	padding:1em 0 0 0;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.features .sitesc {
	padding:0 0 1em 0;
	font-weight: 200;
	font-size: 18px;
	color: #fff;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.features .sec-title{
	color: #fff;
	padding: 0 2em 1em 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 60px;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-shadow:0px 0px 9px #C3C3C3;
}

.features h2{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 100;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.features a{
	color: #87cefa;
	font-weight: 500;
}

.features .circle{
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding-top: 33px;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	text-align: center;
	
}

.features span.glyphicon, .features i{
	margin-top: 3px;
	color: #ffffff;
	font-size: 5em;
}

/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/

.social{
	overflow: hidden;
	padding: 80px 0px 150px 0px;
	min-height: 70vh;
	/*background: url('../img/sea.jpg');*/
	background: linear-gradient(-135deg, #31B0B8, #dda0dd);
	/*background-position: center top;*/
	/*background-repeat: repeat-x;*/
	color: white;
}

.social h2{
	color: white;
}

.social a {
	margin-left: 10px;
	color: #FFF;
	font-size: 5em;
	transition: all 0.3s;
}

.social a:hover{
	text-decoration: none;
	cursor: pointer;
	
}

.social .sec-title{
	color: #fff;
	padding: 0 2em 2em 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 60px;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-shadow:0px 0px 9px #C3C3C3;
}

/*-----------------------------------------------------------------------------------*/
/*	GET-IT
/*-----------------------------------------------------------------------------------*/

.get-it{
	padding: 100px 0px 160px 0px;
	text-align: center;
}

.get-it .sec-title{
	color: #777;
	padding: 0 2em 1em 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 60px;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-shadow:0px 0px 9px #C3C3C3;
}

/* ------------------   Buttonここから ------------------------------------------------------*/

.get-it button.klis{
	width: 152px;
	height: 152px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
	background: url(../img/links/klis-b.png) no-repeat 0px 5px;
	background-size: contain;
	color: white;
}

.get-it button.utsukuba{
	width: 152px;
	height: 152px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
	background: url(../img/links/ut-b.png) no-repeat 0px 5px;
	background-size: contain;
	color: white;
}

.get-it button.admission{
	width: 152px;
	height: 152px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
	background: url(../img/links/ac-b.png) no-repeat 0px 5px;
	background-size: contain;
	color: white;
}

.get-it button.informatics{
	width: 152px;
	height: 152px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
	background: url(../img/links/info-b.png) no-repeat 0px 5px;
	background-size: contain;
	color: white;
}

.get-it button.mast{
	width: 152px;
	height: 152px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
	background: url(../img/links/mast-b.png) no-repeat 0px 5px;
	background-size: contain;
	color: white;
}

.get-it button.coins{
	width: 152px;
	height: 152px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
	background: url(../img/links/coins-b.png) no-repeat 0px 5px;
	background-size: contain;
	color: white;
}

/*
.get-it button.coins{
	width: 152px;
	height: 52px;
	background: url(../img/links/coins-b.png) #373737 no-repeat 0px 5px;
	color: white;
}
*/
/* ------------------   Buttonここまで ------------------------------------------------------*/

.get-it hr{
	margin-top: 3em;
	margin-bottom: 3em;
}

.get-it ul{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.get-it ul li{
	display: inline-block;
	margin-left:30px;
}

.get-it ul li:first-child{
	margin-left: 0px;
}

.get-it ul li a{
	color: #aaa;
	font-size: 1.2em;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.get-it ul li a:hover{
	color: #3A3A3A;
	text-decoration: none;
	cursor: pointer;
}

.get-it a{
	font-weight: 300;
	font-size: 20px;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.get-it p {
	font-weight: 200;
	font-size: 18px;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.get-it h2{

	font-weight: 100;
	font-size: 40px;
	font-family: 'Noto Sans Japanese', sans-serif;

}

.get-it .copy {
	padding-top: 2em !important; 
	font-weight: 100 !important; 
	font-size: 13px !important; 
	color: #aaa !important;
}


/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	@media 768
/*-----------------------------------------------------------------------------------*/

@media (max-width:768px) {
	
	header{
		padding-top: 20vh;
		/*min-height: 1000px;*/
		height: 80vh;
		background-size: 200%;
		background-repeat: repeat;
	}
	
	.navbar-nav {
		float: left;
		text-align: left;
    }

/*------ my setting --------------------------------*/
    .hnavbar{

	    width: 100% !important;
    }

    .hnav .navbar-nav{

	    max-height: 20vh;
	    width: 100vw !important;

    }
	
 }

 /*------ my setting --------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	@media 992
/*-----------------------------------------------------------------------------------*/

@media (max-width:992px) {

.detail .carousel h1, .detail p{
	text-align: center;
}

.detail p{
		margin-bottom: 60px;
}

header, .social{
	background-position-y: 0px;
	background-size: 150%;

}

header {
	height: 80vh;
}


.payoff{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 200px;
	float: left;
	width: 100vw;
}

.payoff h1{
	font-size: 50px;
}

.klisabout{
	margin: 4vw;
	line-height: 10vh;
	list-style: none;
	text-align: center;
	border: 2px solid #fff;
	width: 80vw;
	height: 10vh;
}


.features .col-md-4{
	margin-bottom: 60px;
}

.hnavbar .col-md-3{
	padding-right: 0;
	width: 100%;
}

.hnavbar .row{
	margin: 0;
}

}

/*-----------------------------------------------------------------------------------*/
/*	@media 480
/*-----------------------------------------------------------------------------------*/

@media (max-width:480px){

	header .carousel-iphone, .detail .app-screenshot{
		width: 280px;
	}
	
	header .carousel, .detail .app-screenshot img{
		padding-top: 85px;
		width: 245px;
	}
	
	.detail .app-screenshot img{
		margin-top: -12px;
		padding-top: 0px;
	}
	
	header{
		padding-top: 10vh;
		padding-bottom: 0px;
		height: 70vh;
    }
	}
	
	header h1{
		font-size: 60px;
	}


	header h2{
		font-size: 22px;
	}
	
	.purchase{
		padding-top: 50px;
	}
	
	.features col-md-4{
		margin-bottom: 50px;
	}

	.payoff h2{
	font-size: 22px;
	padding-bottom: 1em;
}

.hnavbar .button{
	font-size: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	@media 192dpi
/*-----------------------------------------------------------------------------------*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .purchasebutton.app-store, .get-it button.app-store{
        background: url(../img/badge-appstore@2x.png) #3a3a3a no-repeat 0px 5px;
        background-size: 98%;
    	color: white;
    }
}